<div>
  <h2>About US</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt atque deleniti hic facere, voluptate perferendis neque aliquid nam reiciendis veniam repellendus at explicabo harum quod architecto rem aperiam asperiores fugiat!</p>
</div>
