<div id="about-us" class="flex flex-col md:flex-row items-center justify-between w-full h-screen p-8 gap-8">
  <div class="w-full flex flex-col items-center justify-center md:w-2/4 gap-8">
    <h2 class="font-slab text-3xl">¿Quienes somos?</h2>
    <p class="px-o font-roboto text-base text-justify md:px-12">
      Somos un equipo de ingenieros de software apasionados por impulsar la transformación digital en Colombia. Nos especializamos en soluciones tecnológicas que optimizan procesos, incrementan la eficiencia y promueven el desarrollo del sector público. Nuestro compromiso es crear aplicaciones seguras, escalables y alineadas con los objetivos estratégicos de nuestros clientes.
    </p>
  </div>
  <div class="w-full flex flex-col items-center justify-center md:w-2/4 gap-8">
    <h2 class="font-slab text-3xl">¿Por Qué Elegirnos?</h2>
    <h4 class="font-roboto text-base">Tu Aliado Estratégico en Innovación Digital</h4>
    <ul class="flex flex-col items-left justify-between gap-8">
      <li><span class="font-bold italic">Experiencia:</span> Más de 10 años trabajando en el desarrollo de software.</li>
      <li><span class="font-bold italic">Enfoque en el Cliente:</span> Diseñamos soluciones centradas en tus necesidades.</li>
      <li><span class="font-bold italic">Tecnología de Punta:</span>Usamos las herramientas y tendencias más avanzadas.</li>
      <li><span class="font-bold italic">Compromiso con Colombia:</span> Trabajamos para fortalecer las capacidades tecnológicas del sector público.</li>
    </ul>
  </div>
</div>
