<div id="contact" class="about-us flex flex-col items-center justify-center w-full h-screen p-8">
  <h2>¡Trabajemos Juntos!</h2>
  <h3>¿Tienes un proyecto en mente o necesitas modernizar procesos? Estamos listos para ayudarte.</h3>
  <form>
    <input />
    <input />
    <button>Enviar</button>
  </form>
  <p>También puedes escribirnos a [correo] o llamarnos al [teléfono].</p>
</div>
