<div id="contact" class="about-us flex flex-col items-center justify-center w-full h-screen p-8">
  <h2>Contáctanos</h2>
  <form>
    <input />
    <input />
    <button>Enviar</button>
  </form>
</div>
