<div id="contact" class="about-us flex flex-col items-center justify-center w-full h-screen p-8 gap-8">
  <h2 class="font-slab text-5xl text-center md:text-left">¡Trabajemos Juntos!</h2>
  <h3 class="font-roboto text-lg text-center md:text-left">¿Tienes un proyecto en mente o necesitas modernizar procesos? Estamos listos para ayudarte.</h3>
  <form class="p-6 flex flex-col items-center justify-between border rounded-md border-black gap-8">
    <input class="bg-transparent border border-black rounded-md px-4 py-2" name="email" placeholder="Correo"/>
    <input class="bg-transparent border border-black rounded-md px-4 py-2" name="phone" placeholder="Telefono"/>
    <textarea class="bg-transparent border border-black rounded-md px-4 py-2" name="description" placeholder="¿Como podemos ayudarte?"/>
    <input class="bg-black rounded-md text-white px-4 py-2 w-full cursor-pointer" type="submit" />
  </form>
  <p class="font-roboto text-lg text-center md:text-left">También puedes escribirnos a [correo] o llamarnos al [teléfono].</p>
</div>
