---
type  TSection = {
  title: string;
  section: string;
}


const sections: TSection[] = [
  {
    title: 'Home',
    section: '#home'
  },
{
    title: 'Sobre nosotros',
    section: '#about-us'
  },
  {
    title: 'Servicios',
    section: '#services'
  },
{
    title: 'Portafolio',
    section: '#portafolio'
  },
  {
    title: 'Contáctenos',
    section: '#contact'
  }
]
---


<header class="flex items-center justify-center h-screen w-14 fixed right-0">
  <nav>
    <ul class="flex flex-col items-center justify-between  h-2/3">
      {sections.map((section: TSection, index: number) => (
        <li class="flex items-center justify-center px-8 py-4 cursor-pointer">
        <a href={section.section} class="font-slab vertical-txt">{section.title}</a> 
        </li>
      ))}
    </ul>
  </nav>
</header>

<style>
  .vertical-txt {
    writing-mode: vertical-rl;
  }
</style>
