---
import ToggleThemeButton from "./toggleThemeButton.astro";

type TSection = {
	title: string;
	section: string;
};

const sections: TSection[] = [
	{
		title: "Home",
		section: "#home",
	},
	{
		title: "Sobre nosotros",
		section: "#about-us",
	},
	{
		title: "Servicios",
		section: "#services",
	},
	{
		title: "Portafolio",
		section: "#portafolio",
	},
	{
		title: "Contáctanos",
		section: "#contact",
	},
];
---


<header class="hidden items-center justify-center fixed w-full md:w-14 h-screen right-0 top-0 md:flex flex-col md:border-l border z-50 transition-colors duration-300">
  <button
    id="closeMenu"
    class="absolute top-[-8px] right-5 p-2 text-white  rounded-sm md:hidden z-50"
    type="button"
  >
    <span class="button-icon"></span>
  </button>
  <ToggleThemeButton />
  <nav class=" w-full">
    <ul class="flex flex-col items-center justify-between h-2/3 pt-16 md:pt-0">
      {sections.map((section: TSection) => (
        <li class="flex items-center justify-center px-8 py-4 cursor-pointer">
          <a href={section.section} class="nav-link font-slab vertical-txt hover:text-gray-300 dark:hover:text-gray-300">{section.title}</a>
        </li>
      ))}
    </ul>
  </nav>
</header>

<style>
  .vertical-txt {
  	writing-mode: vertical-rl;
  	@media only screen and (max-width: 425px) {
  		writing-mode: horizontal-tb;
  	}
  }

  .button-icon {
  	&:after {
  		content: "\d7";
  		font-size: 50px;
  		color: #fff;
  		text-align: center;
  	}
  }

  header {
  	transition: all 0.3s ease-in-out;
  }
</style>

<script>
  const closeBtn = document.getElementById("closeMenu");
  const header = document.querySelector("header");
  const navLinks = document.querySelectorAll(".nav-link");

  function closeMenu() {
  	if (window.innerWidth < 768) {
  		header?.classList.remove("flex");
  		header?.classList.add("hidden");
  	}
  };

  closeBtn?.addEventListener("click", closeMenu);

  navLinks.forEach((link) => {
  	link.addEventListener("click", closeMenu);
  });
</script>
