---
type TSection = {
	title: string;
	section: string;
};

const sections: TSection[] = [
	{
		title: "Home",
		section: "#home",
	},
	{
		title: "Sobre nosotros",
		section: "#about-us",
	},
	{
		title: "Servicios",
		section: "#services",
	},
	{
		title: "Portafolio",
		section: "#portafolio",
	},
	{
		title: "Contáctanos",
		section: "#contact",
	},
];
---


<header class="hidden items-center justify-center fixed w-full md:w-14 h-screen right-0 top-0 md:flex flex-col md:border-l z-50 transition-colors duration-300">
  <button
    id="closeMenu"
    class="absolute top-[-8px] right-5 p-2 text-white  rounded-sm md:hidden z-50"
    type="button"
  >
    <span class="button-icon"></span>
  </button>
  <button id="themeToggle" class="p-2 rounded-sm">
		<svg id="sun-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" class="hidden">
    		<circle cx="12" cy="12" r="5"></circle>
    		<line x1="12" y1="1" x2="12" y2="3"></line>
    		<line x1="12" y1="21" x2="12" y2="23"></line>
    		<line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
    		<line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
    		<line x1="1" y1="12" x2="3" y2="12"></line>
    		<line x1="21" y1="12" x2="23" y2="12"></line>
    		<line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
    		<line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
    		</svg>
    		<svg id="moon-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" class="hidden">
    		<path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
		</svg>
 	</button>
  <nav class=" w-full">
    <ul class="flex flex-col items-center justify-between h-2/3 pt-16 md:pt-0">
      {sections.map((section: TSection) => (
        <li class="flex items-center justify-center px-8 py-4 cursor-pointer">
          <a href={section.section} class="nav-link font-slab vertical-txt hover:text-gray-300 dark:hover:text-gray-300">{section.title}</a>
        </li>
      ))}
    </ul>
  </nav>
</header>

<style>
  .vertical-txt {
  	writing-mode: vertical-rl;
  	@media only screen and (max-width: 425px) {
  		writing-mode: horizontal-tb;
  	}
  }

  .button-icon {
  	&:after {
  		content: "\d7";
  		font-size: 50px;
  		color: #fff;
  		text-align: center;
  	}
  }

  header {
  	transition: all 0.3s ease-in-out;
  }
</style>

<script>
  const closeBtn = document.getElementById("closeMenu");
  const header = document.querySelector("header");
  const navLinks = document.querySelectorAll(".nav-link");

  const closeMenu = () => {
  	if (window.innerWidth < 768) {
  		// Only close on mobile
  		header?.classList.remove("flex");
  		header?.classList.add("hidden");
  	}
  };

  closeBtn?.addEventListener("click", closeMenu);

  // Add click handlers to all navigation links
  navLinks.forEach((link) => {
  	link.addEventListener("click", closeMenu);
  });
</script>
