<div id="portafolio" class="about-us flex flex-col items-center justify-center w-full h-screen p-8">
  <h2>Proyectos que Marcan la Diferencia</h2>
  <h3>Descubre algunos de nuestros proyectos exitosos, diseñados para impulsar la transformación digital del país.</h3>
  <!-- TODO: creaar cards para los proyectos-->
</div>
