<div id="portafolio" class="about-us flex flex-col items-center justify-center w-full h-screen p-8 gap-8">
  <h2 class="font-slab text-5xl">Proyectos que Marcan la Diferencia</h2>
  <h3 class="font-roboto text-center text-xl">Descubre algunos de nuestros proyectos exitosos, diseñados para impulsar la transformación digital del país.</h3>
  <!-- TODO: creaar cards para los proyectos-->
  <ul>
    <li>
        <a href="https://ressonarfilms.com/" target="_blank">Ressonar films</a>
    </li>
  </ul>
</div>
