<div id="portafolio" class="about-us flex flex-col items-center justify-center w-full h-screen p-8">
  <h2>Portafolio</h2>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto sequi eaque possimus! Libero laboriosam veritatis aperiam, atque incidunt at facere dolorum aliquam maxime ipsum quidem consequatur ea, consequuntur voluptatem est.</p>
</div>
