---
import { getCollection } from 'astro:content';

const portafolioCollection = await getCollection('portafolio');
const { data: { title, description, clients }} = portafolioCollection[0];
---
<div id="portafolio" class="about-us flex flex-col items-center justify-center w-full h-screen p-8 gap-8">
  <h2 class="font-slab text-5xl text-center">
    {title}
  </h2>
  <h3 class="font-roboto text-center text-xl">{description}</h3>

  <ul>
    {clients.map(client => (
      <li>
          <a href={client.url} target="_blank" class="text-rose-700 text-2xl underline underline-offset-4">{client.name}</a>
      </li>
    ))}
  </ul>
</div>
