<div id="services" class="about-us flex flex-col items-center justify-center w-full h-screen p-8">
  <h2>Servicios</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At accusamus quisquam quaerat molestias officiis! Sint culpa laudantium tempora illum. Similique, architecto laudantium quasi ea nulla cum sed. Sequi, praesentium vel.</p>
</div>
