---
import Header from "../components/header.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
		<link href="/dist/styles.css" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>Blytz | Tu aliado teconologico</title>
		<meta name="description" content="Blytz es tu aliado tecnológico en la nube, brindando soluciones innovadoras para empresas y organizaciones que buscan optimizar sus procesos y mejorar su productividad.">
        <script is:inline>
          // Necessary for view transitions
          document.addEventListener('astro:after-swap', () => {
            if (
              localStorage.theme === 'dark' ||
              (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
            ) {
              document.documentElement.classList.add('dark');
            }
          });

          if (
            localStorage.theme === 'dark' ||
            (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
          ) {
            document.documentElement.classList.add('dark');
          } else {
            document.documentElement.classList.remove('dark');
          }
      </script>
	</head>
	<body class="flex flex-col md:flex-row relative">
		<div class="flex md:hidden fixed top-4 right-4 z-40">
       	    <button id="openMenu" class="p-2 rounded-sm">
                <div class="hamburguer">
                <span class="line-1 bg-(--color-primary)"></span>
                <span class="line-2 bg-(--color-primary)"></span>
                <span class="line-3 bg-(--color-primary)"></span>
                </div>
            </button>
		</div>
		<main class="w-full h-screen pr-0 md:pr-10">
			<slot />
		</main>
		<Header />
	</body>
</html>

<style>
	/* Add this class to show the menu */
	.show-menu {
		transform: translateX(0) !important;
    }

    .hamburguer {
        display: flex;
        align-items: center;
        justify-items: center;
        flex-flow: column nowrap
    }

    .line-1, .line-2, .line-3 {
        width: 35px;
        height: 3px;
        margin: 4px 0;
    }

    #themeToggle {
        cursor: pointer;
        background-color: transparent;
        border: none;
        color: var(--text-color);
    }
</style>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		const openMenuBtn = document.getElementById('openMenu');
		const header = document.querySelector('header');

		openMenuBtn?.addEventListener('click', () => {
			header?.classList.remove('hidden');
			header?.classList.add('flex');
		});
	});
</script>
